.form-search {

  &__wrapper {
    display: flex;
    border-bottom: 1px solid $color-secondary;
    padding-bottom: .4rem;
  }

  &__icon-wrapper {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  &__input:focus { outline: none; }
  &__input {
    border: none;
    width: 24rem;
    background: none;
    color: $color-primary;
    font-size: 1.6rem;
    padding: 0 2.8rem 0 0;
    outline: none;
  }

  &__input::placeholder { color: $color-primary; }
}

@media only screen and (max-width: 768px) {
  .form-search {
   
    &__wrapper {
      justify-content: space-between;
      margin-top: 2rem;
    }
  }
}